.genderCon{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width:100vw;
  height:100vh;
}

.DCInput {
  margin: 5px;
}

.DCButton {
  border: 1px solid grey;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
}
