.rowOfData {
  display: flex;
  justify-content: space-between;
  background: #f1f1f1;
  margin:5px;
  height:5.5vh;
  border: 1px solid black;
  border-radius: 10px;
}

.nameOfData {
  background-color: blue;
  color:pink;
}

.valueOfData {
  background-color: blue;
  color:pink;
}
